source https://nuget.org/api/v2

framework: >= net45
redirects: force

nuget Mono.Cecil

nuget Microsoft.CodeAnalysis.CSharp
nuget microsoft.codeanalysis.csharp.workspaces
nuget microsoft.composition redirects: force

nuget xunit
nuget xunit.runner.visualstudio version_in_path: true

nuget CompareObjects